.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background: #fff;
  padding: 40px;
  border-radius: 45px;
  position: relative;
  width: 1000px;
}
.modalButton {
  position: absolute;
  z-index: 1000;
  top: -40px;
  right: -80px;
}

.modalContent {
  overflow-y: auto;
  height: 800px;
}
